{% extends "base.html" %}
{% block body %}
    <h1><center>Contact</h1>
    <script src="//about.me/embed/tmoscato"></script>
    <p> <a href="http://www.flickr.com/photos/coffebean6/">Check out my Flickr </a> </p>
    <p><a class="twitter-timeline" width="300" height="500" href=https://twitter.com/TracyMoscato data-widget-id="tracymoscato">Tweets by @tracymoscato</a> </p>
    <body>
    	  <iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/Tracy-Moscato/474067929333233?fref=ts
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
     </body>

{% endblock %}